<div class="language-selector">
  <select class="custom-select"

  (change)="onLanguageChange($event.target.value)"
  
  name="role">
    <option value="" selected disabled>Language</option>
    <option value="en">English</option>
    <option value="bn">Bangla</option>
  </select>
</div>


<div class="wrapper">
    <div class="container">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">{{ 'email' | translate }}</label>
          <input [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" class="form-control"
            formControlName="email" id="email" type="email">
          <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback d-block">
            <div *ngIf="f.email.errors.required">{{'emailRequired' | translate}}</div>
            <div *ngIf="f.email.errors">{{'emailValid' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">{{'name' | translate}}</label>
          <input [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors }" class="form-control"
            formControlName="name" id="name" type="text">
          <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback d-block">
            <div *ngIf="f.name.errors.required">{{'nameRequired' | translate}}</div>
            <div *ngIf="f.name.errors">{{'nameMinChar' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="companyName">{{'companyName' | translate}}</label>
          <input [ngClass]="{ 'is-invalid': f.companyName.touched && f.companyName.errors }" class="form-control"
            formControlName="companyName" id="companyName" type="text">
          <div *ngIf="f.companyName.touched && f.companyName.errors" class="invalid-feedback d-block">
            <div *ngIf="f.companyName.errors.required">{{'companyRequired' | translate}}</div>
            <div *ngIf="f.companyName.errors">{{'companyNameMinChar' | translate}}</div>
          </div>
        </div>
            <div class="form-group phone">
              <label for="phone">{{'phone' | translate}}</label>
              <ngx-intl-tel-input class="phone-input"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true" 
              [enablePlaceholder]="true" 
              [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" 
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Bangladesh" 
              [maxLength]="15" [tooltipField]="TooltipLabel.Name"
              [phoneValidation]="true" 
              [separateDialCode]="true"
              name="phone" 
              formControlName="phone">
              </ngx-intl-tel-input>
            </div>
            <div *ngIf="f.phone.touched && f.phone.errors" class="invalid-feedback d-block">
              <div class="text-right">{{'phoneValid' | translate}}</div>
            </div>

            <div class="upload-and-capcha">
              <div class="upload-container">
                <div class="border-container">
                  <input #takeInput
                  type="file" 
                  accept=".ZIP,.TAR,.TGZ "
                  formControlName="file"
                  (change)="onFileChange($event.target.files)"
                  id="file-upload">
                  <p>{{'dragFile' | translate}}</p>
                </div>
                <div *ngIf="f.file.errors && f.file.errors.fileSize" class="invalid-feedback d-block">
                  <div>{{'fileSizeExceed' | translate}}</div>
                </div>
              </div>
              <ngx-recaptcha2 #captchaElem
              class="captcha"
              [siteKey]="siteKey"
              [hl]="capchaLang"
              formControlName="recaptcha">
            </ngx-recaptcha2>
            </div>

            <button [disabled]="!form.valid || isLoading" class="btn btn-block btn-primary" type="submit">{{'submit' | translate}}</button>
          </form>
      </div>

      <div>

        <ng-lottie *ngIf="isLoading" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>

      
      
        <div *ngIf="!isLoading" class="image">
          <img src="../../assets/man-upload-log.svg" alt="man upload logs" width="350" height="400">
        </div>
      </div>

      
  </div>
