* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    background: #535c68;
  }

  .wrapper {
    // margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }

  .container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }

  h1 {
    color: #130f40;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: -.5px;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .upload-container {
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 15px;
  }

  .border-container {
    border: 5px dashed rgba(198, 198, 198, 0.65);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .border-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 0;
    opacity: 0.65;
  }

  .border-container input {
    color: #130f40;
    background-color: rgb(226, 224, 224);
  }

  .icons {
    color: #95afc0;
    opacity: 0.55;
  }

  .image{
    margin-left: 50px;
  }

  .phone{
    display: flex;
    justify-content: space-between;
  }

  .upload-and-capcha {
    display: flex;
    justify-content: space-between;
  }

  .captcha {
    margin-top: 30px;
  }

  .language-selector {
    float: right;
  }



  @media only screen and (max-width: 600px) {
    .wrapper {
        // margin: auto;
        // display: flex;
        flex-direction: column;
        // justify-content: space-around;
        // padding-top: 60px;
        min-width: 350px;
      }
      .register-form {
        max-width: 30px;
      }

      .phone{
        flex-direction: column;
      }

      .upload-and-capcha {
        flex-direction: column;
      }

      .captcha {
        margin-bottom: 5px;
      }

      .upload-container {
        margin-bottom: -10px;
      }

      .border-container input {
        max-width: 220px;
      }
  }