.wrapper {
    // margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
  }

  .image{
    margin-top: -120px;
  }

  .login-form {
    min-width: 300px;
  }

  @media only screen and (max-width: 600px) {
    .wrapper {
        // margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 60px;
      }
      .login-form {
        max-width: 30px;
      }

      .image{
        margin-top: 0px;
      }
  }